

<div id="header"></div>
<div class="container text-center">
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
          <div class="container-fluid">
            <label class="navbar-brand mr-3">My Recipes</label>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#recipeCollapse">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="recipeCollapse">
              <div class="navbar-nav ml-auto">
                <a href="" class="nav-item nav-link">Favourite</a>
                <a href="" class="nav-item nav-link">Rate Recipe</a>
                <a href="" class="nav-item nav-link">Save Recipe</a>
                <a href="" class="nav-item nav-link">Share</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-4" style="margin-top: 8px;">
      <br>
      <ul id="options-list"><br>
        <div class="row">
          <button type="button" onclick="window.location.href='/create-recipe'" style="margin-top: 10px;" class="options">Upload Recipe</button>
        </div><br>
        <div class="row">
          <button type="button" style="margin-top: 10px;" class="options">Edit Recipe</button>
        </div><br>
        <div class="row">
          <button type="button" style="margin-top: 10px;" class="deleteOption">Delete Recipe</button>
        </div><br>
        <div class="row">
          <button type="button" onclick="window.location.href='/create-playlist'" style="margin-top: 100px;" class="options">Create Playlist</button>
        </div><br>
            <ul id="playlist-list" style="color: white;">
                <li><a id="playlist-item" href="/EditPlaylist.html" class="">Playlist 1</a></li>
                <li><a id="playlist-item" href="/EditPlaylist.html" class="">Playlist 2</a></li>
                <li><a id="playlist-item" href="/EditPlaylist.html" class="">Playlist 3</a></li>
            </ul>
        </ul>
    </div>


    <div class="col-sm-8">
      <label>My Recipes</label>
      <ul id="recipe-list"><br>

        <div class="row">
          <div class="img">
            <img src="assets/western.jfif" alt="Image 1">
          </div>
          <ul id="eachRecipe">
          <li>Recipe 1</li>
          <li>Creator: Name</li>
          <li>Ingreadients: Ingredients 1, Ingredients 2</li>
        </ul>

        </div><br>

        <div class="row">
          <div class="img">
            <img src="assets/western.jfif" alt="Image 1">
          </div>
          <ul id="eachRecipe">
          <li>Recipe 2</li>
          <li>Creator: Name</li>
          <li>Ingreadients: Ingredients 1, Ingredients 2</li>
        </ul>

        </div><br>

        <div class="row">
          <div class="img">
            <img src="assets/western.jfif" alt="Image 1">
          </div>
          <ul id="eachRecipe">
          <li>Recipe 3</li>
          <li>Creator: Name</li>
          <li>Ingreadients: Ingredients 1, Ingredients 2</li>
        </ul>

        </div><br>

        <div class="row">
          <div class="img">
            <img src="assets/western.jfif" alt="Image 1">
          </div>
          <ul id="eachRecipe">
          <li>Recipe 4</li>
          <li>Creator: Name</li>
          <li>Ingreadients: Ingredients 1, Ingredients 2</li>
        </ul>

        </div><br>

        <div class="row">
          <div class="img">
            <img src="assets/western.jfif" alt="Image 1">
          </div>
          <ul id="eachRecipe">
          <li>Recipe 5</li>
          <li>Creator: Name</li>
          <li>Ingreadients: Ingredients 1, Ingredients 2</li>
        </ul>

        </div><br>

        <div class="row">
          <div class="img">
            <img src="assets/western.jfif" alt="Image 1">
          </div>
          <ul id="eachRecipe">
          <li>Recipe 6</li>
          <li>Creator: Name</li>
          <li>Ingreadients: Ingredients 1, Ingredients 2</li>
        </ul>

        </div><br>

        <div class="row">
          <div class="img">
            <img src="assets/western.jfif" alt="Image 1">
          </div>
          <ul id="eachRecipe">
          <li>Recipe 7</li>
          <li>Creator: Name</li>
          <li>Ingreadients: Ingredients 1, Ingredients 2</li>
        </ul>

        </div><br>

      </ul>
    </div>
  </div>
</div>