 /* Remove the navbar's default margin-bottom and rounded borders */
 .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

  .carousel-inner img {
    width: 100%;
    margin: auto;
    min-height: 200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }

  #description {
    width: 100%;
    resize: none;
    overflow-y: scroll;
    border: 10px solid #353a40;
  }

  #recipe-list {
    list-style: none;
    max-height: 700px;
    overflow-y: scroll;
    text-indent: 10px;
    border: 10px solid #353a40;
    background-color: #353a40;
    color: white;
    text-align: left;
  }

  #eachrecipe {
    overflow-y: scroll;
    text-indent: 10px;
    border: 10px solid #353a40;
    background-color: #353a40;
    color: white;
    
  }

  #playlist-list {
    text-align: left;
    list-style: none;
    max-height: 700px;
    text-indent: 10px;
    border: 10px solid #353a40;
  }

  #options-list {
    list-style: none;
    max-height: 700px;
    height: 700px;
    text-indent: 10px;
    border: 10px solid #353a40;
    background-color: #353a40;
  }

  #cookware-list {
    list-style: none;
    max-height: 200px;
    overflow-y: scroll;
    text-indent: 10px;
    border: 10px solid #353a40;
  }

  #recipe-instruction {
    max-height: 200px;
    overflow-y: scroll;
    border: 10px solid #353a40;
  }

  #tips-and-notes {
    max-height: 200px;
    width: 100%;
    margin: 0;
    overflow-y: scroll;
    text-indent: 10px;
    resize: none;
    border: 10px solid #353a40;
  }

  #extra {
    background-color: orange;
    padding: 4%;
    margin: 5%;
  }

  img {
    max-width: 150px;
    max-height: 150px;
 
  }

  .options {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    cursor: pointer;
  }

  .deleteOption {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    background-color: rgb(248, 83, 83);
    cursor: pointer;
  }

  #playlist-item {
    color: white;
  }

  .rad {
    cursor: pointer;
  }

  .view{
    color: green;
    text-align: right;
  }

  .viewRecipe {
    cursor: pointer;
    border-radius: 20px;
    border: none;
    height: 40px;
    margin-top: 5px;
    width: 150px;
}

  .thumbnail {
  border-radius: 20%;
}