<div class="container text-center">
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3 titleSection">
          <div class="container-fluid">
            <label class="navbar-brand mr-3 titleSection">My {{type}}s</label>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#recipeCollapse">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="recipeCollapse">
              <!-- <div class="navbar-nav ml-auto">
                <a href="" *ngIf="type != 'favourite'" class="nav-item nav-link">Favourite</a>
                <a href="" *ngIf="type != 'favourite'" class="nav-item nav-link">Rate {{type}}</a>
                <a href="" *ngIf="type != 'favourite'" class="nav-item nav-link">Save {{type}}</a>
                <a href="" class="nav-item nav-link">Share</a>
              </div> -->
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 optionsTab">
      <br>
      <ul class="optionsList" id="options-list"><br>
        <div class="row">
          <button type="button" onclick="window.location.href='/create-recipe'" style="margin-top: 10px;"
            class="optionsGreen">Create Recipe</button>
        </div>

        <div class="row">
          <button type="button" onclick="window.location.href='/create-playlist'" style="margin-top: 30px;"
            class="optionsRed">Create Playlist</button>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
          <button *ngIf="type != 'recipe'" type="button" onclick="window.location.href='/my-recipe/recipe'"
            style="margin-top: 30px;" class="options">View My Recipes</button>
        </div>

        <div class="row">
          <button *ngIf="type != 'favourite'" type="button" onclick="window.location.href='/my-recipe/favourite'"
            style="margin-top: 30px;" class="options">View My Favourites</button>
        </div>

        <div class="row">
          <button *ngIf="type != 'playlist'" type="button" onclick="window.location.href='/my-recipe/playlist'"
            style="margin-top: 30px;" class="options">View My Playlists</button>
        </div>
      </ul>
    </div>

    <div class="col-sm-8">
      <ul id="recipe-list" class="recipe-list"><br>
        <div id="message" *ngIf="showMsg">
          <h5 style="text-align: center; margin-bottom: 30px;">{{message}}</h5>
        </div>
        <a *ngFor="let x of id; let i = index">
          <a *ngIf="type != 'playlist'">
            <div class="row">
              <div class="img">
                <img *ngIf="!url[i]" class="thumbnail" src="assets/western.jfif" alt="Image 1" style="margin-left: 8px;"><br>
                <img *ngIf="url[i]" [src]="url[i]" class="thumbnail" style="margin-left: 8px;">
                <br>

                <button [routerLink]="['/view-recipe', x]" class="viewRecipe" style="margin-left: 8px;">View
                  Recipe</button>
              </div>
              <ul id="eachRecipe" style="margin-top: 20px;">
                <label style="text-transform: capitalize; font-size: 30px; font-weight: bold;">{{name[i]}}</label><br>
                <label style="margin-left: 10px; max-width: 300px; max-height: 50px;"> {{desc[i]}}</label><br>
                <!-- <button [routerLink] = "['/view-recipe', x]" class="viewRecipe" style="margin-left: 20px;" >View Recipe</button> -->
              </ul>

            </div><br>
          </a>
          <a *ngIf="type == 'playlist'">
            <div class="row">
              <button [routerLink]="['/view-playlist', x]" class="viewRecipe" style="margin-left: 20px;">View Playlist</button>
          
              <ul id="eachRecipe">
                <label style="text-transform: capitalize; font-size: 30px; font-weight: bold;">{{name[i]}}</label><br>
                <label style="margin-left: 10px; max-width: 300px; max-height: 50px;"> {{desc[i]}}</label><br>
                <!-- <button [routerLink] = "['/view-recipe', x]" class="viewRecipe" style="margin-left: 20px;" >View Recipe</button> -->
              </ul>

            </div><br>
          </a>
        </a>
      </ul>
    </div>
  </div>
</div>