/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border-radius: 20px;
  text-transform: capitalize;
  font-weight: bold;
}

#playlist-name {
  width: 90%;
  margin-bottom: 10px;
}

#playlist-description {
  width: 90%;
  height: 200px;

}

#recipe-list {
  list-style: none;
  max-height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-indent: 10px;
  border: 10px solid #353a40;
  background-color: #353a40;
  color: white;
}

#eachrecipe {
  overflow-y: scroll;
  text-indent: 10px;
  border: 10px solid #353a40;
  background-color: #353a40;
  color: white;
}

#options-list {
  list-style: none;
  max-height: 700px;
  height: 700px;
  text-indent: 10px;
  border: 10px solid #353a40;
  background-color: #353a40;
}

img {
  max-width: 100px;
  max-height: 100px;
}

.options {
  background-color: rgb(0, 220, 100);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 90%;
  border-radius: 20px;
}

.deleteOption {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 90%;
  background-color: rgb(248, 83, 83);
  border-radius: 20px;
}

.deletePlaylist {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 90%;
  background-color: rgb(248, 83, 83);
  float: left;
  margin-bottom: 10%;
  border-radius: 20px;
}

.savePlaylist {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 90%;
  background-color: rgb(0, 220, 100);
  float: right;
  margin-bottom: 10%;
  border-radius: 20px;
}

.descriptionSection {
  height: 200px; 
  background-color: white; 
  text-align: left; 
  word-wrap: normal;
  border-radius: 20px;
  padding: 10px;
}

.titleSection {
  height: 50px; 
  background-color: white; 
  text-align: left; 
  word-wrap: normal;
  border-radius: 20px;
  text-indent: 10px;
}