h3 {
    color: cornflowerblue;
    -webkit-text-fill-color: white;
}

.carousel-caption2 {
    position: absolute;
    right: 15%;
    bottom: 548px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.carousel-caption3 {
    position: absolute;
    right: 15%;
    bottom: 150px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center
}

.gettingStartedButton {
    background-color: orange;
    border: none;
    padding: 16px;
    cursor: pointer;
    height: 20%;
    width: 50%;
    font-size: 25;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.startButton {
    background: orange;
    color: white;
    text-shadow: black;
    border: none;
    position: relative;
    font-size: 25px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
}

.borderImage {
    margin-top: 25px;
    box-shadow: 0 0 0 5px #353a40;
    border-radius: 30px;
}