.startButton {
    background: orange;
    color: white;
    text-shadow: black;
    border: none;
    position: relative;
    font-size: 25px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
}

.borderImage {
    margin-top: 25px;
    box-shadow: 0 0 0 5px transparent;
    border-radius: 30px;
}