<div class="container text-center">
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3 titleSection">
          <div class="container-fluid">
            <label class="navbar-brand mr-3">New Playlist</label>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="container formSection">
  <br>
  <ul id="play-list" style="color: white;"><br>
    <div class="row">
      <h5>Playlist Name:</h5>
    </div>
    <div class="row">
      <textarea class="playNameSection" id="name" rows="1" placeholder="Name" [(ngModel)]="playlistName" name="playlistName"></textarea>
    </div><br>
    <div class="row" style="margin-top: 10px;">
      <h5>Description:</h5>
    </div>
    <div class="row textSection">
      <textarea class="playDescription" style="width: 1000px;" id="description" rows="5" placeholder="(Optional)"></textarea>
    </div><br>
    <div class="row">
      <button class="createButton" type="button" (click)=save() >Create Playlist</button>
    </div>
  </ul>
</div>