/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

  .carousel-inner img {
    width: 100%;
    margin: auto;
    min-height: 200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }

  #description {
    width: 50%;
    max-width: 80%;
    resize: none;
    overflow-y: scroll;
    margin-left: 10px;
  }

  #name {
    width: 50%;
    max-width: 80%;
    resize: none;
    margin-left: 10px;
  }

  #play-list {
    max-height: 700px;
    height: 90%;
    text-indent: 10px;
  }

  .options {
    background-color: rgb(62, 185, 62);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    margin-left: 10px;
  }