<div class="container text-center">
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
          <div class="container-fluid">
            <label class="navbar-brand mr-3">New Playlist</label>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="container" style="background-color: #353a40; color: white; width: 1110px;">
  <br>
  <ul id="play-list" style="color: 353a40;"><br>
    <div class="row">
      <h4>Playlist Name:</h4>
    </div>
    <div class="row" style="margin-top: 10px;">
      <textarea id="name" rows="1" placeholder="Name" [(ngModel)]="playlistName" name="playlistName"></textarea>
    </div><br>
    <div class="row" style="margin-top: 10px;">
      <h4>Description:</h4>
    </div>
    <div class="row" style="margin-top: 10px;">
      <textarea id="description" style="width: 700px;" rows="5" placeholder="(Optional)"></textarea>
    </div><br>
    <div class="row" style="margin-top: 10px;">
      <button type="button" style="margin-top: 10px;" style="float: left;" (click)=save() class="options">Create Playlist</button>
    </div>
  </ul>
</div>