/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

  .carousel-inner img {
    width: 100%;
    margin: auto;
    min-height: 200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }

  #description {
    width: 50%;
    max-width: 80%;
    resize: none;
    margin-left: 10px;
  }

  #name {
    width: 50%;
    max-width: 80%;
    resize: none;
    margin-left: 10px;
  }

  .formSection {
    background-color: #353a40; 
    color: white; 
    width: 100%;
    max-width: 1110px;
    border-radius: 20px;
    margin-top: 10px;
    height: 520px;
  }

  .playNameSection {
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px;
  }

  .playDescription {
    width: 700px; 
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
  }

  .saveButton {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgb(62, 185, 62);
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 200px;
    font-weight: bold;
  }

  #errorMsg {
    background-color: #f44336;
    color: white;
    width: auto;
    padding: 10px;
    text-align: center;
    margin: auto;
  }

  .titleSection {
    margin-top: 5px; 
    text-transform: capitalize; 
    font-size: 20px;
    border-radius: 20px;
    background-color: #353a40;
    color: white;
    font-weight: bold;
  }