<form>
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12">
        <div class="well">
          <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
            <div class="container-fluid">
              <input class="navbar-brand mr-3 recipeTitle" type="text" placeholder="Recipe Name"
                [(ngModel)]="recipeName" name="recipeName">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#recipeCollapse">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="recipeCollapse">
                <div class="navbar-nav ml-auto">
                  <button class="save addButton" style="margin-bottom: 10px;" (click)=save()>Save Recipe</button>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div id="errorMessage" *ngIf="showErrorMessage">
    <h5>{{errorMessage}}</h5>
  </div>
  <!-- First Row for Image -->
  <div class="container text-center size">
    <div class="row">
      <div class="col-sm-4" style="margin-top: 32px;">
        <img *ngIf="!url" src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%; ">
        <img *ngIf="url" [src]="url" class="img-responsive" style="width:100%; max-height: 200px; flex-shrink: 0;object-fit: cover;">
        <input type="file" (change)="onChange($event)"class="photo addButton">
        <button class="save addButton" (click)="checkImage()">Check Image</button>
      </div>

      

      <div class="col-sm-8" style="color: #353a40; ">
        <div class="well">
          <!--<label class="sectionTitle">Description</label>-->
          <textarea id="description" rows="5" placeholder="Description" [(ngModel)]="description" name="description"
            style="height: 230px; margin-top: 32px; background-color: white; color: #353a40; border-radius: 20px; padding: 10px;"></textarea>
        </div>
      </div>
    </div>
  </div>
  <br>

  <!-- First Row for Ingredients, Cook Time, and Number of Servings -->
  <div class="container" style="color: white; background-color: #353a40; width: 1110px;">

    <div class="row" style="height: 700px;">
      <div class="col-sm-7" id="extra" style="padding: 20px; border-radius: 20px;">
        <a *ngFor="let size of arr(size).fill(1), let i = index">
          <input class="inputBar" type="text" placeholder="Ingredient Name" [(ngModel)]="ingredients[i]"
            name="ingredients[i]">
          <input class="inputBar" type="number" placeholder="0" min="0" value="amount[i]" [(ngModel)]="amount[i]"
            name="amount[i]">

          <select class="inputBar" id="measureType" [(ngModel)]="measure[i]" name="measure[i]" style="width: 160px;">
            <option value="cup">Cup(s)</option>
            <option value="litre">Litre(s)</option>
            <option value="gram">Gram(s)</option>
            <option value="kg">Kilogram(s)</option>
            <option value="oz">Ounce(s)</option>
            <option value="tbsp">Tablespoon(s)</option>
            <option value="tsp">Teaspoon(s)</option>
            <option value=" ">None</option>

          </select>
        </a>
        <button class="save addButton" style="margin-bottom: 10px; margin-left: 9px;" (click)=addRow()>Add
          Ingredient</button>

      </div>
      <!--
      <div class="col-sm-2">
        <fieldset>
          <legend>Fruits</legend>
          <a *ngFor="let x of fruit">
            <input type="checkbox" [checked]="isAvailable">{{x}}<br>
          </a>
          <input type="checkbox" name="fruit" [(ngModel)]="fruit">Other:
          <br>
        </fieldset>
      </div>

      <div class="col-sm-2">
        <fieldset>
          <legend>Vegetables</legend>
          <a *ngFor="let x of dairy">
            <input type="checkbox" [checked]="isAvailable">{{x}}<br>
          </a>
          <input type="checkbox" name="vegetable" [(ngModel)]="vegetable">Other:
          <br>
        </fieldset>
      </div>

      <div class="col-sm-2">
        <fieldset>
          <legend>Dairy Products</legend>
          <a *ngFor="let x of dairy">
            <input type="checkbox" [checked]="isAvailable">{{x}}<br>
          </a>
          <input type="checkbox" name="dairy" [(ngModel)]="dairy">Other:
          <br>
        </fieldset>
      </div>
    -->
      <div class="col-md-3">
        <div class="well chooseBar" id="extra" style="margin-top: 55px;">
          <label class="labs" for="mealType">Select the Meal Type</label>
          <br>
          <select class="dropPick" id="mealType" [(ngModel)]="mealType" name="mealType">
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
            <option value="appetizer">Appetizer</option>
            <option value="dessert">Dessert</option>
            <option value="snack">Snack</option>
            <option value="other">Other</option>
          </select>
        </div>

        <div class="well chooseBar" id="extra">
          <label class="labs" for="mealType">Region</label>
          <br>
          <select class="dropPick" id="region" [(ngModel)]="region" name="region">
            <option value="european">European</option>
            <option value="asian">Asian</option>
            <option value="middleEastern">Middle Eastern</option>
            <option value="southAmerican">South American</option>
            <option value="mediterranean">Mediterranean</option>
            <option value="african">African</option>
            <option value="other">Other</option>
          </select>
        </div>

        <div class="well chooseBar" id="extra">
          <label class="labs" for="mealType">Lifestyle</label>
          <br>
          <select class="dropPick" id="lifestyle" [(ngModel)]="lifestyle" name="lifestyle">
            <option value="vegan">Vegan</option>
            <option value="vegetarian">Vegetarian</option>
            <option value="keto">Keto</option>
            <option value="other">Other</option>
            <option value="none">None</option>
          </select>
        </div>

        <div class="well chooseBar" id="extra">
          <label class="labs" for="mealType" style="margin-right: 5px;">Number of Servings:</label>
          <select class="dropPick" id="mealType" [(ngModel)]="servings" name="servings">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10+</option>
          </select>
        </div>

        <div class="well chooseBar" id="extra">
          <label class="labs" style="margin-right: 5px;">Cooktime: </label>
          <input type="number" placeholder="0" min="0" max="10" step=".25" [(ngModel)]="cooktime" name="cooktime"
            style="padding-left: 10px; border-radius: 20px; margin-left: 15px; border: none;">
          <label style="margin-left: 5px;"> hour(s)</label>
        </div>
      </div>
    </div>
  </div><br>

  <div class="container" style="width: 1110px; color: white; background-color: #353a40;">
    <h5 style="padding-top:30px; margin-left: 45px; color: white;">Instructions</h5>
    <div class="row">
      <ul id="recipe-instruction">
        <input class="steps" type="text" maxlength="90" placeholder="Step 1" [(ngModel)]="step1" name="step1"><br>
        <input class="steps" type="text" maxlength="90" placeholder="Step 2" [(ngModel)]="step2" name="step2"><br>
        <input class="steps" type="text" maxlength="90" placeholder="Step 3" [(ngModel)]="step3" name="step3"><br>
        <input class="steps" type="text" maxlength="90" placeholder="Step 4" [(ngModel)]="step4" name="step4"><br>
        <input class="steps" type="text" maxlength="90" placeholder="Step 5" [(ngModel)]="step5" name="step5"><br>
        <input class="steps" type="text" maxlength="90" placeholder="Step 6" [(ngModel)]="step6" name="step6"><br>
        <input class="steps" type="text" maxlength="90" placeholder="Step 7" [(ngModel)]="step7" name="step7"><br>
        <input class="steps" type="text" maxlength="90" placeholder="Step 8" [(ngModel)]="step8" name="step8"><br>
        <input class="steps" type="text" maxlength="90" placeholder="Step 9" [(ngModel)]="step9" name="step9"><br>
        <input class="steps" type="text" maxlength="90" placeholder="Step 10" [(ngModel)]="step10" name="step10"><br>

      </ul>
    </div>
  </div>

  <!--
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <fieldset>
          <legend>Fruits</legend>
          <a *ngFor="let x of fruit">
            <input type="checkbox" [checked]="isAvailable">{{x}}<br>
          </a>
          <input type="checkbox" name="fruit" [(ngModel)]="fruit">Other:
          <br>
        </fieldset>
      </div>

      <div class="col-sm-3">
        <fieldset>
          <legend>Vegetables</legend>
          <a *ngFor="let x of dairy">
            <input type="checkbox" [checked]="isAvailable">{{x}}<br>
          </a>
          <input type="checkbox" name="vegetable" [(ngModel)]="vegetable">Other:
          <br>
        </fieldset>
      </div>

      <div class="col-sm-3">
        <fieldset>
          <legend>Dairy Products</legend>
          <a *ngFor="let x of dairy">
            <input type="checkbox" [checked]="isAvailable">{{x}}<br>
          </a>
          <input type="checkbox" name="dairy" [(ngModel)]="dairy">Other:
          <br>
        </fieldset>
      </div>
-->



  <!--
      <div class="col-sm-4">
        <label class="sectionTitle">Cookware (Optional)</label>
        <ul id="cookware-list" >
          <input type="text" placeholder="Cookware 1" style="color: black;" [(ngModel)]="cookware1" name="cookware1">
          <input type="text" placeholder="Cookware 2" style="color: black;" [(ngModel)]="cookware2" name="cookware2">
          <input type="text" placeholder="Cookware 3" style="color: black;" [(ngModel)]="cookware3" name="cookware3">
          <input type="text" placeholder="Cookware 4" style="color: black;" [(ngModel)]="cookware4" name="cookware4">
          <input type="text" placeholder="Cookware 5" style="color: black;" [(ngModel)]="cookware5" name="cookware5">
          <input type="text" placeholder="Cookware 6" style="color: black;" [(ngModel)]="cookware6" name="cookware6">
          <input type="text" placeholder="Cookware 7" style="color: black;" [(ngModel)]="cookware7" name="cookware7">
          <input type="text" placeholder="Cookware 8" style="color: black;" [(ngModel)]="cookware8" name="cookware8">
          <input type="text" placeholder="Cookware 9" style="color: black;" [(ngModel)]="cookware9" name="cookware9">
        </ul>
      </div>
    </div>
  </div><br>
  -->
</form>