<div class="container text-center size" style="background-color: #4d4d4d;" style="color: white;">
    <br>
    <ul id="play-list" style="color: white;"><br>
      <div class="row">
        <label>Playlist Name:</label>
      </div>
      <div class="row" style="margin-top: 10px;">
        <textarea id="playlistName" rows="1" placeholder="Name"></textarea>
      </div><br>
      <div class="row" style="margin-top: 10px;">
        <label>Description:</label>
      </div>
      <div class="row"  style="margin-top: 10px;">
        <textarea id="playlistDescription" style="width: 700px;" rows="5" placeholder="(Optional)"></textarea>
      </div><br>
      <div class="row"  style="margin-top: 10px;">
      <button type="button" style="margin-top: 10px;" style="float: left;" class="options">Create Playlist</button>
      </div>
  </div>