/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

#errorMessage {
  padding: 20px;
  background-color: #f44336;
  color: white;
  width: auto;
  text-align: center;
  margin: auto;
}

#description {
  width: 100%;
  resize: none;
  border: 10px solid #353a40;
}

#ingredient-list {
  list-style: none;
  max-height: 360px;
  margin: 0;
  overflow-y: scroll;
  text-indent: 10px;
  border: 10px solid #353a40;
}

#cookware-list {
  list-style: none;
  max-height: 200px;
  overflow-y: scroll;
  text-indent: 10px;
  border: 10px solid #353a40;
}

#recipe-instruction {
  max-height: 500px;
  /*overflow-y: scroll;*/
  border: 10px solid #353a40;
}

#extra {
  background-color: orange;
  padding: 4%;
  margin: 5%;
}
.save {
  background-color: #4CAF50; /* Green */
  border: none;
  /*overflow-y: scroll;*/
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 16px;
}

.addButton {
  margin-top: 10px; 
  border-radius: 20px;
  padding: 10px;
  border: none;
}

.recipeTitle {
  color: #353a40; 
  border-radius: 20px; 
  padding-left: 10px;
  border: none;
}

.inputBar {
  border-radius: 20px; 
  color: #353a40; 
  padding-left: 10px; 
  margin-top: 5px;
  border: none;
  margin-right: 10px;
  margin-left: 9px;
}

.chooseBar {
  padding: 30px; 
  border-radius: 20px; 
  width: 200px; 
  font-weight: bold;
}

.dropPick {
  width: 160px;
  border-radius: 20px;
  margin-left: 10px;
}

.labs {
  margin-left: 10px;
}

.steps {
  border-radius: 20px; 
  color: #353a40; 
  padding-left: 10px; 
  margin-top: 5px;
  border: none;
  width: 500px;
}