<div class="container text-center">
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3 titleSection">
                    <div class="container-fluid">
                        <label class="navbar-brand mr-3 recipeTitle">{{recipeName}} <span *ngIf="chef">
                                by
                                {{chef}}</span></label>
                        <button type="button" class="navbar-toggler" data-toggle="collapse"
                            data-target="#recipeCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="recipeCollapse">
                            <div class="navbar-nav ml-auto">
                                <input *ngIf="!isFav" class="nav-item nav-link buttonColour"
                                    style="background-color:transparent; border: transparent;" type="submit"
                                    value="Favourite Recipe" (click)="favourite()">
                                <input *ngIf="isFav" class="nav-item nav-link buttonColour"
                                    style="background-color:transparent; border: transparent;" type="submit"
                                    value="Un-Favourite Recipe" (click)="unfavourite()">

                                <a class="nav-item nav-link" *ngIf="!usersRecipe">
                                    <div class="dropdown">
                                        <button class="ratebtn buttonColour">Rate Recipe</button>
                                        <div class="dropdown-content">
                                            <a value="1" (click)="rate(1)">1</a>
                                            <a value="2" (click)="rate(2)">2</a>
                                            <a value="3" (click)="rate(3)">3</a>
                                            <a value="4" (click)="rate(4)">4</a>
                                            <a value="5" (click)="rate(5)">5</a>
                                        </div>
                                    </div>
                                </a>

                                <a href="" class="nav-item nav-link buttonColour">Share</a>
                                <a *ngIf="usersRecipe" [routerLink]="['/edit-recipe', id]"
                                    class="nav-item nav-link buttonColour">Edit Recipe</a>
                                <input *ngIf="usersRecipe" class="nav-item nav-link buttonColour"
                                    style="background-color:transparent; border: transparent;" type="submit"
                                    value="Delete Recipe" (click)="delete()">
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container size">

    <div class="row">

        <div class="col-sm-9" style="margin-bottom: 20px;">
            <div class="descriptionSection">
                <h5 style="color: white; padding-top: 15px;">Description</h5>
                <label [innerHTML]="description" id="description"></label>
            </div>
        </div>


        <div class="col-sm-3">
            <div class="container well" style="position: relative;">
                <img *ngIf="average < 3.1" class="star" src="assets/Bronze-Star.jpg">
                <img *ngIf="average>3 && average < 4.1" class="star" src="assets/Silver-Star.jpg">
                <img *ngIf="average>4 && average < 5.1" class="star" src="assets/Gold-Star.jpg">
                <img *ngIf="!average" class="star" src="assets/White-Star.jpg">
                <div *ngIf="average" class="centered2">{{average}}</div>
                <div *ngIf="!average" class="centered2 nostar"></div>
            </div>
        </div>
    </div>
</div>

<!-- First Row for Ingredients and Image -->
<div class="container size">

    <div class="row">
        <div class="col-sm-6" style="margin-top: 32px;">
            <img *ngIf="!image" src="assets/western.jfif" class="img-responsive foodPicture">
            <img *ngIf="image" [src]="image" class="img-responsive foodPicture">
        </div>

        <div class="col-sm-6 detailSection">

            <div class="well details" id="extra">
                <label style="margin-right: 5px;">Total Cooktime: {{cooktime}} minute(s)</label>
            </div>

            <div class="well details" id="extra">
                <label for="mealType" style="margin-right: 5px;">Number of Servings: {{servings}}</label>
            </div>

            <div class="well details" id="extra">
                <div>Type of Meal: {{mealType}}</div>
            </div>

            <div class="well details" id="extra">
                <div>Region: {{region}}</div>
            </div>

            <div class="well details" id="extra">
                <div>Lifestyle: {{lifeStyle}}</div>
            </div>
        </div>
    </div>
</div>

<div class="container instructionsSection">
    <div class="row">
        <div class="col-sm-6" style="margin-top: 32px;">
            <section id="ingred">
                <h3>Ingredients</h3>
                <ul>
                    <a *ngFor="let amt of amount; let i = index;">
                        <a *ngIf="chef">
                            <li>{{amt}} {{measure[i]}}<a *ngIf="amt > 1 && measure[i]">s</a> {{ingredients[i]}}</li>
                        </a>
                        <a *ngIf="!chef">
                            <li>{{amt}} {{measure[i]}} {{ingredients[i]}}</li>
                        </a>
                    </a>
                </ul>
            </section>
        </div>

        <div class="col-sm-6" style="margin-top: 32px;">
            <section id="steps">
                <h3>Instructions</h3>
                <ol>
                    <a *ngFor="let steps of instructions">
                        <li>{{steps}}</li>
                    </a>
                </ol>
            </section>
        </div>
    </div>
</div>