/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

  .carousel-inner img {
    width: 100%;
    margin: auto;
    min-height: 200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }

  #description {
    width: 100%;
    resize: none;
  }

  #ingredient-list {
    list-style: none;
    max-height: 360px;
    margin: 0;
    overflow-y: scroll;
    text-indent: 10px;
    border: 10px solid #353a40;
  }

  #cookware-list {
    list-style: none;
    max-height: 200px;
    overflow-y: scroll;
    text-indent: 10px;
    border: 10px solid #353a40;
  }

  #recipe-instruction {
    max-height: 200px;
    overflow-y: scroll;
    border: 10px solid #353a40;
  }

  #tips-and-notes {
    max-height: 200px;
    width: 100%;
    margin: 0;
    overflow-y: scroll;
    text-indent: 10px;
    resize: none;
    border: 10px solid #353a40;
  }

  #extra {
    background-color: orange;
    padding: 4%;
    margin: 5%;
  }
  .extra {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#f5f5f5;
    border:1px solid #e3e3e3;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px #353a40;
    box-shadow:inset 0 1px 1px #353a40;
  }
.extra blockquote {
    border-color:#ddd;
    border-color:rgba(0,0,0,.15)
  }

  body {
    font-family: "Helvetica", sans-serif;
    color: #222;
    line-height: 1.4;
    padding: 0 1em;
  }
  h1 {
    background-color: none;
    color: white;
    text-align: center;
  }
  h2 {
    border: thin solid #5b5;
    border-top: thick solid #5b5;
    padding-left: 0.25em;
  }
  ul, ol {
    padding-left: 1.5em;
  }
  ul {
    list-style-type: circle;
  }
  p#servings {
    font-style: italic;
  }

  .titleSection {
    margin-top: 5px; 
    text-transform: capitalize; 
    font-size: 20px;
    border-radius: 20px;
  }

  .descriptionSection {
    width: 100%; 
    max-width: 1110px;
    background-color: #353a40;
    border-radius: 20px;
    color: #353a40;
    padding: 20px;
  }

  .details {
    margin-top: 25px; 
    width: 300px;
    border-radius: 20px;
    padding: 20px;
  }

  .detailSection {
    margin-top: 8px; 
    padding-left: 100px; 
    font-weight: bold;
  }

  .foodPicture {
    width:100%; 
    object-fit: contain; 
    max-height: 400px;
    border-radius: 20px;
  }

  .instructionsSection{
    background-color: #353a40; 
    color: white; 
    width: 100%; 
    max-width: 1110px;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
  }

  .navbar-collapse.in {
    display: block !important;
}

  .star {
  object-fit: contain;
  max-height: 170px;
  max-width: 170px;
  border-radius: 20px;
}

  .recipeTitle {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 600px;
  }

  .chefSection {
    margin-top: 5px; 
    text-transform: capitalize; 
    font-size: 20px;
    border-radius: 20px;
    margin-left: 35%;
  }

  .centered {
    position: absolute;
    margin-top: 82px;
    left: 50%;
    transform: translate(45%, -35%);
    color: white;
    text-shadow: 10px black;
    font-size: 40px;
  }