<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <div class="container-fluid">
        <a routerLink="" class="navbar-brand mr-3">Recipe 6ix</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse"
            data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/browse" class="nav-item nav-link">Browse</a>
                <a *ngIf="user.logged" routerLink="/my-recipe/recipe" class="nav-item nav-link">My Recipes</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a *ngIf="user.logged" routerLink="/profile-page" class="nav-item nav-link">Profile</a>
                <a *ngIf="user.logged" routerLink="/logout" class="nav-item nav-link">Sign Out</a>
                <a *ngIf="!user.logged" routerLink="/register" class="nav-item nav-link">Register</a>
                <a *ngIf="!user.logged" routerLink="/login" class="nav-item nav-link">Sign In</a>
            </div>
        </div>
    </div>
</nav>