

<form [formGroup]="loginForm">
    <p>Value: aaaaa {{ password.value }}</p>
    <div>
        <input id="username" type="text" placeholder="Username" [formControl]="name">
    </div>
    
    <div>
        <input id="password" type="password" placeholder="Password" [formControl]="password">
    </div>

    <button (click)="update()">Sign In</button>
</form>


    <div class="links">
        <h4>
            <a> <br>
                Don't have an account?
            </a>
        </h4>

        <a routerLink="/register">Create an Account</a>

        <h4>
            <a><br>Forgot your credentials?</a>
        </h4>

        <a href="/resetPassword.html">Forgot Password?</a>
    </div>
