<div id="errMsg" *ngIf="showErrorMessage">
    <h5>Invalid username or password!</h5>
</div>

<div class="login-form">
    <br>
    <form method="POST">
        <input name="name" type="text" placeholder="Username" [(ngModel)]="name">
        <input name="password" type="password" placeholder="Password" [(ngModel)]="password">
        <input type="submit" value="Sign In" (click)="update()">
    </form>
</div>

<div class="links">
    <h4>
        <a> <br>
            Don't have an account?
        </a>
    </h4>

    <a routerLink="/register">Create an Account</a>

    <h4>
        <a><br>Forgot your Password?</a>
    </h4>

    <a href="/reset-password">Forgot Password?</a>
</div>
