body{
    background: -webkit-linear-gradient(left, #f2f2f2, #f5f5f5);
}

.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
}

img{
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 5px;
    height: 150px;
}

.save {
    background-color: #4CAF50; /* Green */
    border: none;
    /*overflow-y: scroll;*/
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 16px;
  }
  .photo{
    background-color: #353a40; 
    border: none;
    /*overflow-y: scroll;*/
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    width: 230px;
  }
  
  .addButton {
    margin-top: 10px; 
    border-radius: 20px;
    padding: 10px;
    border: none;
  }

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.proile-bio{
    font-size: 14px;
    color: #818182;
    margin-top: 5%;
}
.proile-bio span{
    color: #495057;
    font-size: 12px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}


/* Custom Stylings */

.button {
    float: right;
}

#backgroundColour {
    background-color: #353a40;
}

.profileImage img {
    width: 380px;
    height: 270px;
}

#borderImage {
    border: 1px solid white;
}

.profileName {
    font-size: 30px;
    font-weight: bold;
}

.profileBio{
    font-size: 20px;
    font-weight: bold;
}

.profileDescription{
    font-size: 15px;
    font-weight: bold;
}

.editButton{
    border: none;
    border-radius: 1.5rem;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.colBorder{
    border-radius: 2rem;
}