<!DOCTYPE html>

<div id="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img *ngIf="!url" src="assets/img_avatar.png">
                <img *ngIf="url" [src]="url" class="img-responsive profilePic">
            </div>
            <!-- Image, Name, Bio -->
            <div class="col-md-9"
                style="background-color: #353a40; margin-bottom: 50px; border-radius: 20px; height: 200px; margin-top: 8px;">
                <button class="save addButton" (click)="checkImage()" style="float: right; margin-top: 20px;">Save
                    Profile</button>

                <p class="profileName" style="color: white; margin-left: 20px; margin-top: 20px;">
                    {{name}}
                </p>

                <br>

                <h6 style="color: white; margin-left: 10px;">Add Profile Picture:</h6>
                <input type="file" (change)="onChange($event)" class="photo addButton">
            </div>

            <div class="profileDescription"
                style="color: white; margin-left: 20px; background-color: #353a40; width: 1120px; border-radius: 20px; height: 120px;">
                <div style="padding: 20px;">
                    <h5>About Me</h5>
                    <input class="aboutSection" type="text" value={{bio}}
                        [(ngModel)]="bio">
                </div>
            </div>
        </div>

        <br>

        <!-- About Information -->
        <div class="row">
            <div class="col-md-3">
                <div class="profile-work" style="background-color: #353a40; color: white; margin-top: 0px; border-radius: 20px;">
                    <h4 routerLink="/my-recipe/recipe" style="cursor: pointer;">Recipes</h4><br>
                    <h4 routerLink="/my-recipe/playlist" style="cursor: pointer;">Playlists</h4><br>
                    <h4 routerLink="/my-recipe/favourite" style="cursor: pointer;">Favourited</h4>
                </div>
            </div>
            <div class="col-md-9" style="background-color: #353a40; border-radius: 20px;">
                <h5 style="color: white; margin-top: 20px; margin-left: 20px;">Details</h5>
                <br>
                <div class="row">
                    <div style="color: white; margin-left: 35px;">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Username:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Recipes:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{recipes}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
