
#grid {
  
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  padding: 10px;
  justify-content: center;
}

div#grid figure {
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px;
  padding-bottom: 10px;
  transition: opacity .4s ease-in-out;
}

div#grid figure a img {
  width: 100%; height: auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

div#grid figure figcaption {
  font-size: .9rem;
  color: #444;
  line-height: 1.5;
}

div#grid:hover figure:not(:hover) {
  opacity: 0.6;
}

@media screen and (max-width: 750px) { 
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}