<div id="top" style="text-align: center;">
  <h1 style="text-transform: capitalize;">{{type}} Recipes</h1>
</div>

<div id="grid" style="grid-auto-flow: row;">
  <a *ngFor="let x of id; let i = index">
    <figure>
      <div class="row">
        <label class="nameStyle">{{name[i]}}</label><span *ngIf="chef[i]">&nbsp;Chef:&nbsp; <label
            class="chefStyle">{{chef[i]}}</label></span>
      </div>

      <a [routerLink]="['/view-recipe', x]"><img *ngIf="!url[i]" src="assets/western.jfif"> <img *ngIf="url[i]"
          [src]="url[i]" class="img-responsive pictureStyle"></a>

      <figcaption [innerHTML]="desc[i]" class="descriptionStyle">Description: {{desc[i]}} </figcaption>
    </figure>
  </a>
</div>