<div class="container text-center">
    <div class="row">
      <div class="col-sm-12">
        <div class="well">
          <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
            <div class="container-fluid">
              <label class="navbar-brand mr-3">{{playlistName}}</label>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <div class="row">
      <div class="col-sm-4" style="margin-top: 8px;">
        <br>
        <ul id="options-list"><br>
          
          <div class="row">
            <textarea id="playlist-description" placeholder="description of playlist"></textarea>
          </div><br>
          <div class="row">
            <button type="button" class="options">Add Recipe(s)</button>
          </div>
          <div class="row">
            <button type="button" style="margin-top: 10px;" class="deleteOption">Remove Recipe(s)</button>
          </div><br>
          </ul>  
      </div>

      <div class="col-sm-8">
        <label>Recipes</label>
        <ul id="recipe-list"><br>

            <div class="row">
                <div class="img">
                    <img src="assets/western.jfif" alt="Image 1">
                  </div>
                  <ul id="eachRecipe">
                    <li>Recipe 1</li>
                    <li>Creator: Name</li>
                </ul>
              </div><br>

        </ul>
        <button type="button" class="deletePlaylist">Delete Playlist</button>
        <button type="button" class="savePlaylist">Save Playlist</button>
      </div>
      
    </div>

    </div>