
<div class="login-form">
    <h1>New Password</h1>
    <form method="POST">
        <div id="errorMessage" *ngIf="showErrorMessage">
            <h5>{{errorMessage}}</h5>
        </div>
        <input type="email" name="email" placeholder="Email" [(ngModel)]="email">
        <input type="text" name="password" placeholder="New Password" [(ngModel)]="password">
        <input type="text" name="password2" placeholder="Re-Enter Password" [(ngModel)]="password2">

        <input type="submit" value="Reset Password" (click)="reset()">
    </form>
</div>