.categoryTitle {
    text-align: center;
  }

  .searchBar {
    width: auto;
    border-radius: 15px;
    border: 1px black solid;
    padding: 10px 5px 5px 30px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .imageContainer {
    text-align: center;
  }

  .imageRow {
    width: 100%;
    height: 100%;
    margin: 15px;
  }

  .imageSpace {
    margin-right: 15px;
  }

  .glow {
    border:20px white;
    border-radius: 50px;
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    }

  .glow:hover {
    box-shadow: 0 0 50px rgb(141, 217, 252);
    }