.categoryTitle {
    text-align: center;
  }

  .searchBar {
    width: auto;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    border: 1px white;
    padding: 10px 5px 10px 20px;
  }

  .addButton {
    background-color: #00ff00;
    border-radius: 20px;
    padding: 10px;
    border: none;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }

  .imageContainer {
    text-align: center;
  }

  .imageRow {
    width: 100%;
    height: 100%;
    margin: 15px;
  }

  .imageSpace {
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .glow {
    border:20px white;
    border-radius: 50px;
    box-shadow: 0 0 0 1px transparent;
    }

  .glow:hover {
    box-shadow: 0 0 50px rgb(141, 217, 252);
    }

    .searchOption {
      background-color: rgb(0, 220, 100);
      border: none;
      color: white;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      border-radius: 20px;
      font-weight: bold;
      width: 10%;
      margin-left: auto;
      margin-right: auto;
    } 

  .searching {
    background-color: rgb(0, 220, 100);
    color: white;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

  .searching:hover {
    box-shadow: 0 0 20px rgb(141, 217, 252);
  }